<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CheatSheet Hub</title>
    <!-- SEO -->
    <meta name="description" content="Your ultimate guide for quick coding references.">
    <meta name="keywords" content="cheatsheet, coding, programming, reference, quick reference, programming language">
    <meta name="author" content="Adrian Bumbu">
    <meta name="robots" content="index, follow">
    <meta name="language" content="English">
    <meta name="web_author" content="bumbulab.com">
    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="CheatSheet Hub">
    <meta property="og:description" content="Your ultimate guide for quick coding references.">
    <meta property="og:image" content="https://bumbulab.com/seo/cheatsheet.png">
    <meta property="og:url" content="https://bumbulab.com/cheatsheet">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="BumbuLab">
    <meta property="og:locale" content="en_US">
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="CheatSheet Hub">
    <meta name="twitter:description" content="Your ultimate guide for quick coding references.">
    <meta name="twitter:image" content="https://bumbulab.com/seo/cheatsheet.png">
    <meta name="twitter:site" content="@your_twitter_handle">
    <!-- Canonical URL -->
    <link rel="canonical" href="https://bumbulab.com/cheatsheet">
    
    <!-- Logo -->
    <link rel="icon" href="https://bumbulab.com/seo/cheatsheet.png" type="image/x-icon">
    <link rel="stylesheet" href="./styles/start-styles.css">
</head>
<style>
    
</style>
<body>
    <header>
        <h1>CheatSheet Hub</h1>
        <p>Your ultimate guide for quick coding references.</p>
    </header>

    <main>
        <section class="search">
            <input type="text" id="search" placeholder="Search for a cheat-sheet..." onkeyup="searchCheatSheets()">
            <button onclick="searchCheatSheets()">Search</button>
        </section>

        <section id="categorii">
            <div id="categories" class="categories">
                <a href="./cpp/" target="_blank">
                    <img src="https://skillicons.dev/icons?i=cpp" /><span>C++</span>
                </a>
                <a href="./python/" target="_blank">
                    <img src="https://skillicons.dev/icons?i=python" /><span>Python</span>
                </a>
                <a href="./css/" target="_blank">
                    <img src="https://skillicons.dev/icons?i=css" /><span>CSS</span>
                </a>
                <a href="./chatgpt/" target="_blank">
                    <img src="./img/chatgpt.svg" /><span>CSS</span>
                </a>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 CheatSheet Hub</p>
    </footer>

    <script src="./js/script.js"></script>
</body>

</html>
