<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CheatSheet Hub</title>
    <link rel="stylesheet" href="styles.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2200736693287795"
     crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <h1>CheatSheet Hub</h1>
    </header>

    <main>
        <section class="search">
            <input type="text" id="search" placeholder="Caută un cheat-sheet..." onkeyup="searchCheatSheets()">
            <button onclick="searchCheatSheets()">Caută</button>
        </section>

        <section id="categorii">
            <div id="categories" class="categories">
            <a href="./cpp/" target="_blank">
              <img src="https://skillicons.dev/icons?i=cpp" /><span class="none">c++ cpp</span>
            </a>
            <a href="#" target="_blank">
                <img src="https://skillicons.dev/icons?i=cs" /><span class="none">sql</span>   
            </a>
            <a href="#" target="_blank" >
                <img src="https://skillicons.dev/icons?i=python" /><span class="none">python</span>
            </a>
            <a href="#" target="_blank">
                <img src="https://skillicons.dev/icons?i=java" /><span class="none">java</span>
            </a>
            <a href="#" target="_blank">
                <img src="https://skillicons.dev/icons?i=javascript" /><span class="none">javascript</span>
            </a>
            <a href="#" target="_blank">
                <img src="https://skillicons.dev/icons?i=html" /><span class="none">html</span>
            </a>
            <a href="#" target="_blank">
                <img src="https://skillicons.dev/icons?i=css" /><span class="none">css</span>
            </a>
            <a href="#" target="_blank">
                <img src="https://skillicons.dev/icons?i=react" /><span class="none">react</span>
            </a>
            <a href="#" target="_blank">
                <img src="https://skillicons.dev/icons?i=angular" /><span class="none">angular</span>
            </a>
            <a href="#" target="_blank">
                <img src="https://skillicons.dev/icons?i=vue" /><span class="none">vue</span>
            </a>
            <a href="#" target="_blank">
                <img src="https://skillicons.dev/icons?i=php" /><span class="none">php</span>
            </a>
            <a href="#" target="_blank">
                <img src="https://skillicons.dev/icons?i=laravel" /><span class="none">laravel</span>
            </a>
            

            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 CheatSheet Hub</p>
    </footer>

    <script src="./js/script.js"></script>
</body>

</html>