<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EXpress CheatSheet - Quick Reference</title>

    <!-- SEO Meta Tags -->
    <meta name="title" content="Express Cheat Sheet - Quick Reference">
    <meta name="description" content="Master Express with this quick reference cheat sheet covering Express basics, Express routing, Express middleware, Express error handling, Express security, Express performance, Express testing, Express deployment, Express best practices, Express resources.">
    <meta name="keywords" content="Express, Cheat Sheet, Quick Reference, Express basics, Express routing, Express middleware, Express error handling, Express security, Express performance, Express testing, Express deployment, Express best practices, Express resources">
    <meta name="url" content="https://bumbulab.com/cheatsheet/express">
    <meta name="author" content="Bumbu Adrian">
    <meta name="robots" content="index, follow">
    <meta name="language" content="English">
    <meta name="web_author" content="bumbulab.com">

    <!-- OpenGraph Meta Tags (pentru Facebook, LinkedIn) -->
    <meta property="og:title" content="Express Cheat Sheet - Quick Reference">
    <meta property="og:description" content="Master Express with this quick reference cheat sheet covering Express basics, Express routing, Express middleware, Express error handling, Express security, Express performance, Express testing, Express deployment, Express best practices, Express resources.">
    <meta property="og:image" content="https://bumbulab.com/seo/express.png">
    <meta property="og:url" content="https://bumbulab.com/cheatsheet/express">
    <meta property="og:site_name" content="bumbulab.com">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@bumbulab">
    <meta name="twitter:creator" content="@bumbulab">
    <meta name="twitter:title" content="Express Cheat Sheet - Quick Reference">
    <meta name="twitter:description" content="Master Express with this quick reference cheat sheet covering Express basics, Express routing, Express middleware, Express error handling, Express security, Express performance, Express testing, Express deployment, Express best practices, Express resources.">
    <meta name="twitter:image" content="https://bumbulab.com/seo/express.png">
    
    <!-- Favicon -->
    <link rel="icon" href="https://bumbulab.com/seo/express.png">

    <!-- External CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css" integrity="sha512-vswe+cgvic/XBoF1OcM/TeJ2FW0OofqAVdCZiEYkd6dwGXthvkSFWOoGGJgS2CW70VK5dQM5Oh+7ne47s74VTg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/code.css">
    <link rel="stylesheet" href="../styles/theme-black.css">
    <link rel="stylesheet" href="../styles/toggle.css">
    <link rel="stylesheet" href="../styles/search.css">
    <link rel="stylesheet" href="../styles/table.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Canonical-->
    <link rel="canonical" href="https://bumbulab.com/cheatsheet/express">
    <!-- Inline CSS Optimization -->
     
    <style>
        html, body, h1, h2, h3, h4, h5, h6 {
            font-family: "Roboto", sans-serif;
        }
        .sidebar {
            z-index: 3;
            width: 250px;
            top: 43px;
            bottom: 0;
            height: inherit;
        }
    </style>
</head>

<body>

    <!-- Navbar -->
    <div class="top">
        <div class="bar theme top left-align large">
            <a class="bar-item button right hide-large hover-white large theme-l1" href="javascript:void(0)"
                onclick="openside()"><i class="fa fa-bars"></i></a>
             <img src="../img/express.svg" width="35">
            
        </div>
    </div>

    <!-- Sidebar -->
    <nav class="sidebar bar-block collapse theme-l5 animate-left" id="sidebar">
        <div class="sticky">
            <a href="javascript:void(0)" onclick="closeside()" id="closeSidebar" class="right xlarge padding-small hover-black hide-large"
                title="Close Menu">
                <i class="fa fa-remove"></i>
            </a>
        
        <input type="text" id="searchInput" onkeyup="search()" placeholder="Search.." title="Type in a category">
    </div>
        <ul id="menu">
            <li id="defaultOpen" class="bar-item button" onclick="toggle(event,'express','0')">Installing Node.js & Express</li>
            <li class="bar-item button" onclick="toggle(event,'express','1')">Setting up a basic server</li>
            <li class="bar-item button" onclick="toggle(event,'express','2')">Middleware</li>
            <li class="bar-item button" onclick="toggle(event,'express','3')">Routing</li>
            <li class="bar-item button" onclick="toggle(event,'express','4')">Request & Response</li>
            <li class="bar-item button" onclick="toggle(event,'express','5')">Static files</li>
            <li class="bar-item button" onclick="toggle(event,'express','6')">Template engines</li>
            <li class="bar-item button" onclick="toggle(event,'express','7')">Error handling</li>
            <li class="bar-item button" onclick="toggle(event,'express','8')">MongoDB</li>
            <li class="bar-item button" onclick="toggle(event,'express','9')">PostgreSQL</li>
            <li class="bar-item button" onclick="toggle(event,'express','10')">MySQL</li>
            <li class="bar-item button" onclick="toggle(event,'express','11')">JWT</li>
            <li class="bar-item button" onclick="toggle(event,'express','12')">Passport.js</li>
            <li class="bar-item button" onclick="toggle(event,'express','13')">Session handling</li>
            <li class="bar-item button" onclick="toggle(event,'express','14')">Helmet</li>
            <li class="bar-item button" onclick="toggle(event,'express','15')">CORS</li>
            <li class="bar-item button" onclick="toggle(event,'express','16')">Rate limiting</li>
            <li class="bar-item button" onclick="toggle(event,'express','17')">Input validation</li>
            <li class="bar-item button" onclick="toggle(event,'express','18')">RESTful APIs</li>
            <li class="bar-item button" onclick="toggle(event,'express','19')">GraphQL</li>
            <li class="bar-item button" onclick="toggle(event,'express','20')">Versioning</li>
            <li class="bar-item button" onclick="toggle(event,'express','21')">Jest</li>
            <li class="bar-item button" onclick="toggle(event,'express','22')">Supertest</li>
            <li class="bar-item button" onclick="toggle(event,'express','23')">Debugging techniques</li>
            <li class="bar-item button" onclick="toggle(event,'express','24')">PM2</li>
            <li class="bar-item button" onclick="toggle(event,'express','25')">Docker</li>
            <li class="bar-item button" onclick="toggle(event,'express','26')">Load balancing</li>
            <li class="bar-item button" onclick="toggle(event,'express','27')">Caching</li>
            <li class="bar-item button" onclick="toggle(event,'express','28')">Folder structure</li>
            <li class="bar-item button" onclick="toggle(event,'express','29')">Error handling strategies</li>
            <li class="bar-item button" onclick="toggle(event,'express','30')">Logging</li>
        </ul>
    </nav>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="overlay hide-large" onclick="closeside()" style="cursor:pointer" title="close side menu" id="myOverlay">
    </div>

    <!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
    <main class="main" id="main" style="margin-left:250px">
            <%- content %>
        <!-- END MAIN -->
    </main>


    <script src="../js/sidebar.js"></script>
    <script src="../js/search.js"></script>
    <script src="../js/toggle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-javascript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-json.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-html.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-graphql.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-pgsql.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-yaml.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-nginx.js"></script>
    
    <script>
        Prism.highlightAll();
    </script>

</body>

</html>